{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'budget/table.css' %}">

<table data-table-theme="dark zebra">
    <thead>
    <tr>
        <th>Label</th>
        {% for month in spend %}
            <th>{{ month.1 }} - {{ month.2 }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Spendings</th>
        {% for month in spend %}
            <td>{{ month.0 }} zł</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Income</th>
        {% for month in spend %}
            <td>{{ month.3 }} zł</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Saldo</th>
        {% for month in spend %}
            <td>{{ month.4 }} zł</td>
        {% endfor %}
    </tr>
    </tbody>
</table>


<table data-table-theme="dark zebra">
    <caption>Saldo: {{ ts }} zł</caption>
    <thead>
    <tr>
        <th>Product</th>
        <th>Sub-category</th>
        <th>Category</th>
        <th>Price</th>
        <th>Payment Method</th>
        <th>Date</th>
        <th>Vendor</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.product.name }}</td>
            <td>{{ product.product.category.name }}</td>
            <td>{{ product.product.category.parent.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.payment_method }}</td>
            <td>{{ product.date.year }}-{{ product.date.month }}-{{ product.date.day }}</td>
            <td>{{ product.vendor }}</td>
            <td>{{ product.location }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
