{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'budget/table.css' %}">

<table data-table-theme="dark zebra">
    <caption>Bought Products</caption>
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Payment Method</th>
        <th>Date</th>
        <th>Vendor</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.product }}</td>
            <td>{{ product.price }} {{ product.currency }}</td>
            <td>{{ product.payment_method }}</td>
            <td>{{ product.date }}</td>
            <td>{{ product.vendor }}</td>
            <td>{{ product.location }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Payment Method</th>
        <th>Date</th>
        <th>Vendor</th>
        <th>Location</th>
    </tr>
    </tfoot>
</table>